
# Firmware build outputs
fw/*.elf
fw/*.vh
fw/*.lst
fw/**/*.o
fw/build

# Simulation outputs
__pycache__/
sim/sim_build/
sim/results.xml
sim/dump.vcd

# Generated Amaranth output.
rtl/am_gen.v

# Quartus build outputs.
quartus/**/db/
quartus/**/incremental_db/
quartus/**/*.map.*
quartus/**/*.fit.*
quartus/**/*.bak
quartus/**/*.sof
quartus/**/*.rpt
quartus/**/*.summary
quartus/**/*.pin
quartus/**/*.jdi
quartus/**/*.done
quartus/**/*.qws
quartus/**/*.cdf

# Sublime Text files
*.sublime-workspace
